.head {
    font-size: xx-large;
    font-weight: bold;
}

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: left;
}
  
.form-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form input[type="text"],
  .form input[type="submit"] {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .form input[type="submit"] {
    background-color: #333;
    color: #fff;
    cursor: pointer;
  }
  
  .form input[type="submit"]:hover {
    background-color: #555;
  }